@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, valentine;
}
.main-box{
    background-color: black;
    border: double 7px /* total added thickness of lines and gap between */ white
}
.btn-custom{
background-color: grey;
border-radius: 0px;
color:white
}

.custom-menu{
  background-color:black ;
  color: white
}

body {
 
    font-family: "Lucida Console", "Courier New", monospace;
background-color: black;
color: white
}


